# Binary directories/include (headers installed to include after build)
**/build/*
**/bin/*
**/lib/*
**/.idea
.DS_Store
*.o
*.log
**/cmake-build-debug
**/cmake-build-relwithdebinfo


# Uncompressed Vocab
Vocabulary/ORBvoc.bin
Vocabulary/ORBvoc.txt

# Specific files
tools/bin_vocabulary
